data/menu.dtd

<!ELEMENT Menu (Meals, Beverages)>
<!ELEMENT Meals (Item+)>
<!ELEMENT Beverages (Category+)>
<!ELEMENT Category (Item+)>
<!ATTLIST Category name CDATA #REQUIRED>
<!ELEMENT Item (Name, Price, Description, Image)>
<!ELEMENT Name (#PCDATA)>
<!ELEMENT Price (#PCDATA)>
<!ELEMENT Description (#PCDATA)>
<!ELEMENT Image (#PCDATA)>
